---
import { FontAwesomeIcon } from '@fortawesome/react-fontawesome';
import { faWhatsapp } from '@fortawesome/free-brands-svg-icons';
const { label, href, target, addClasses } = Astro.props; // Añadido addClasses
---

<a href={href} target={target} class={`${addClasses} w-full bg-gray-900 text-white hover:bg-accent dark:border-white/10 dark:border`}> {/* Usando template literals y addClasses */}
  {label}
  <FontAwesomeIcon icon={faWhatsapp} />
</a>
